
__pycache__/

# IDE-specific files
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environments
venv/
ENV/
env/
.venv/
.pyenv/
pip-wheel-metadata/
*.virtualenv

# Sample folder
sample/